[submodule "c4ln2012"]
	path = c4ln2012
	url = git@github.com:jbfink/c4ln2012.git
[submodule "GLTHATcamp2012"]
	path = GLTHATcamp2012
	url = https://github.com/jbfink/GLTHATcamp2012
[submodule "ltc2012"]
	path = ltc2012
	url = git@github.com:jbfink/ltc2012.git
[submodule "codercamp2012"]
	path = codercamp2012
	url = git@github.com:jbfink/codercamp2012.git
